<header class="header">
  <div class="donate__section">
    <p class="donate__text">
      З кожного замовлення 10% йде на підтримку діток або ЗСУ 2022!
    </p>
    <button class="donate__button">Обрати</button>
  </div>
  <div class="container header__wrapper">
    <div class="header__box">
      <div class="heder__menue">
        <img
          class="menue__img"
          width="30"
          height="30"
          src="./img/mobile_b.png"
          alt="відкриття меню"
        />
      </div>
      <svg class="header__callback" width="30" height="30">
        <use href="./img/symbol-defs.svg#icon-call_b_24px"></use>
      </svg>
    </div>
    <div class="header__boxLogo">
      <a href="https://kari-shop.com/ua"
        ><img
          class="header__logo"
          src="./img/Logo_for_site.svg"
          alt="логотип сайту"
      /></a>
    </div>
    <div class="header__buttonsBoxDesc">
      <button class="button__Cat">Каталог товарів</button>
      <button class="button__Men">Меню</button>
      <div class="button__Gift">
        <p class="button__GiftMessage">Подарункові сертифікати</p>
        <svg class="button__GiftIcon" width="20" height="20">
          <use href="./img/symbol-defs.svg#icon-card_giftcard_24px"></use>
        </svg>
      </div>
    </div>
    <div class="header__ContactsBoxDesc">
      <a href="tel:+380931445980" class="header__Tell">+38 093 144 59 80</a>
      <button class="header__ContactButton">Зворотній зв'язок</button>
    </div>
    <div class="header__UtilsDesc">
      <button class="header__searh header__searh--Fix"></button>
      <div class="languages">
        <button class="chose_lang">
          <span class="active">ua</span>
        </button>
        <div class="lang-block">
          <a href="https://kari-shop.com/ru/wholesale_customers">ru</a>
          <span>ua</span>
          <a href="https://kari-shop.com/pl/wholesale_customers">pl</a>
        </div>
      </div>
      <div class="header__cart">
        <a href="#">
          <img
            width="28"
            height="28"
            src="./img/shopping_cart_24px.svg"
            alt="посилання на корзину товарів"
          />
        </a>
      </div>
    </div>
    <div class="header__box">
      <button class="header__searh"></button>
      <div class="header__cart">
        <a href="#">
          <img
            width="28"
            height="28"
            src="./img/shopping_cart_24px.svg"
            alt="посилання на корзину товарів"
          />
        </a>
      </div>
    </div>
  </div>
</header>
