<section class="calculator">
  <div class="container calculator__wrapper">
    <div class="text-fixsecond">
      <h2 class="calculator__title">Скільки я зароблю</h2>
      <p class="calculator__text">Можна крутити</p>
    </div>
    <div class="positionDesk__fix" style="display: none">
      <div class="calculator__desktopBox">
        <div class="firstDesk__Elem">
          <div class="firstDesk__CalcValues">
            <p class="product__text">Кількість проданого товару</p>
            <p class="product__valueFirst">270</p>
            <p class="product__text">Мінімальна ціна товару</p>
            <p class="product__valueSecond">169</p>
          </div>
          <div class="calculator__range-wrapper">
            <input
              class="styled-slider slider-progress"
              type="range"
              value="800"
              min="800"
              max="2500"
              step="1"
            />
          </div>
        </div>
        <div class="roundSlider">
          <div id="slider"></div>
          <div class="sliderText__wrapper">
            <p class="sliderText">
              Скільки речей в день Ви плануєте продавати?
            </p>
            <span class="sliderValue">9 шт.</span>
          </div>
        </div>
        <div class="thirdDesk__Elem">
          <div class="calculator__profit-wrapper">
            <p class="profit-wrapper__text">Ваш прибуток на місяць</p>
            <p class="profit-wrapper__text profit-wrapper__text--fix">15930</p>
          </div>
        </div>
      </div>
      <div class="button__wrapper secondButton">
        <button class="hero__button">Заробляти більше</button>
      </div>
    </div>
    <div class="calculator__positionWrapper">
      <div class="roundSlider">
        <div id="slider"></div>
        <div class="sliderText__wrapper">
          <p class="sliderText">Скільки речей в день Ви плануєте продавати?</p>
          <span class="sliderValue">9 шт.</span>
        </div>
      </div>
      <div class="calculator__product-wrapper">
        <div class="calculator__product-wrapper--firstFix">
          <p class="product__text">Кількість проданого товару</p>
          <p class="product__valueFirst">270</p>
        </div>
        <div class="calculator__product-wrapper--secondFix">
          <p class="product__text">Мінімальна ціна товару</p>
          <p class="product__valueSecond">169</p>
          <div class="calculator__range-wrapper">
            <input
              class="styled-slider slider-progress"
              type="range"
              value="800"
              min="800"
              max="2500"
              step="1"
            />
          </div>
          <div class="calculator__profit-wrapper">
            <p class="profit-wrapper__text">Ваш прибуток на місяць</p>
            <p class="profit-wrapper__text profit-wrapper__text--fix">15930</p>
          </div>
          <div class="button__wrapper secondButton">
            <button class="hero__button">Заробляти більше</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
