<section class="calculator">
  <div class="container">
    <div class="text-fixsecond">
      <h2 class="calculator__title">Скільки я зароблю</h2>
      <p class="calculator__text">Можна крутити</p>
    </div>
    <div class="roundSlider"></div>
    <div class="calculator__product-wrapper">
      <p>Кількість проданого товару</p>
      <p>270</p>
      <p>Мінімальна кількість товару</p>
      <p>169</p>
      <div class="calculator__range-wrapper">
        <input
          width="156"
          type="range"
          min="0"
          max="100"
          value="0"
          class="calculator__slider"
        />
        <div class="calculator__progress"></div>
      </div>
    </div>
    <div class="calculator__profit-wrapper">
      <p>Ваш прибуток на місяць</p>
      <p>15930</p>
    </div>
    <div class="button__wrapper secondButton">
      <button class="hero__button">Заробляти більше</button>
    </div>
  </div>
</section>
