<section class="goods">
  <div class="goods__container">
    <div class="goosd__text-fix">
      <h2 class="goods__title">Асортимент</h2>
    </div>
    <div class="goods__wrapper">
      <div class="goods__buttons">
        <div class="goods__item goods__item-active">
          <button class="goods__button goods__button-active">
            Подарунок для Коханої
          </button>
        </div>
        <div class="goods__item" id="ewe">
          <button class="goods__button">Спідня білизна</button>
        </div>
        <div class="goods__item">
          <button class="goods__button">Купальники</button>
        </div>
        <div class="goods__item">
          <button class="goods__button">Одяг для дому</button>
        </div>
      </div>

      <div
        class="swiper"
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="goods__galery">
              <div>
                <img
                  class="goods__imgSlider goods__imgSlider--m"
                  src="./img/testLingeria.jpg"
                  alt="жіночі трусики"
                />
                <img
                  class="goods__imgSlider"
                  src="./img/testLingeria.jpg"
                  alt="жіночі трусики"
                />
              </div>
              <div>
                <img
                  class="goods__imgSlider goods__imgSlider--m"
                  src="./img/testLingeria.jpg"
                  alt="жіночі трусики"
                />
                <img
                  class="goods__imgSlider"
                  src="./img/testLingeria.jpg"
                  alt="жіночі трусики"
                />
              </div>
            </div>
            <div class="goods__galery--Desktop">
              <img
                class="goods__imgSlider goods__imgSlider--m"
                src="./img/testLingeria.jpg"
                alt="жіночі трусики"
              />
              <img
                class="goods__imgSlider"
                src="./img/testLingeria.jpg"
                alt="жіночі трусики"
              />

              <img
                class="goods__imgSlider goods__imgSlider--m"
                src="./img/testLingeria.jpg"
                alt="жіночі трусики"
              />
              <img
                class="goods__imgSlider"
                src="./img/testLingeria.jpg"
                alt="жіночі трусики"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__galery">
              <div>
                <img
                  class="goods__imgSlider goods__imgSlider--m"
                  src="./img/testLingeria2.jpg"
                  alt="жіночі трусики"
                />
                <img
                  class="goods__imgSlider"
                  src="./img/testLingeria2.jpg"
                  alt="жіночі трусики"
                />
              </div>
              <div>
                <img
                  class="goods__imgSlider goods__imgSlider--m"
                  src="./img/testLingeria2.jpg"
                  alt="жіночі трусики"
                />
                <img
                  class="goods__imgSlider"
                  src="./img/testLingeria2.jpg"
                  alt="жіночі трусики"
                />
              </div>
            </div>
            <div class="goods__galery--Desktop">
              <img
                class="goods__imgSlider goods__imgSlider--m"
                src="./img/testLingeria2.jpg"
                alt="жіночі трусики"
              />
              <img
                class="goods__imgSlider"
                src="./img/testLingeria2.jpg"
                alt="жіночі трусики"
              />

              <img
                class="goods__imgSlider goods__imgSlider--m"
                src="./img/testLingeria2.jpg"
                alt="жіночі трусики"
              />
              <img
                class="goods__imgSlider"
                src="./img/testLingeria2.jpg"
                alt="жіночі трусики"
              />
            </div>
          </div>
        </div>
        <div class="buttons__fix-wrapper">
          <div class="swiper-button-prev">
            <svg class="arrow__button-prev" width="10" height="20">
              <use href="./img/symbol-defs.svg#icon-arrow_left"></use>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg class="arrow__button-next" width="10" height="20">
              <use href="./img/symbol-defs.svg#icon-arrow_right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
