<section class="goods">
  <div class="container">
    <div class="goosd__text-fix">
      <h2 class="goods__title">Асортимент</h2>
    </div>
    <div class="goods__wrapper">
      <div class="goods__buttons">
        <div class="goods__item">
          <button class="goods__button">Подарунок для Коханої</button>
        </div>
        <div class="goods__item">
          <button class="goods__button">Спідня білизна</button>
        </div>
        <div class="goods__item">
          <button class="goods__button">Купальники</button>
        </div>
        <div class="goods__item">
          <button class="goods__button">Одяг для дому</button>
        </div>
      </div>
      <div class="goods__sliderArea"></div>
    </div>
  </div>
</section>
