<header class="header">
  <div class="container header__wrapper">
    <div class="header__box">
      <div class="heder__menue">
        <img
          class="menue__img"
          width="30"
          height="30"
          src="../img/mobile_b.png"
          alt="відкриття меню"
        />
      </div>
      <svg class="header__callback" width="30" height="30">
        <use href="./img/symbol-defs.svg#icon-call_b_24px"></use>
      </svg>
    </div>
    <div class="header__boxLogo">
      <a href="https://kari-shop.com/ua"
        ><img
          class="header__logo"
          src="../img/Logo_for_site.svg"
          alt="логотип сайту"
      /></a>
    </div>
    <div class="header__box">
      <button class="header__searh"></button>
      <div class="header__cart">
        <a href="#">
          <img
            width="28"
            height="28"
            src="../img/shopping_cart_24px.svg"
            alt="посилання на корзину товарів"
          />
        </a>
      </div>
    </div>
  </div>
</header>
