<section class="hero">
  <div class="container hero__wrapper">
    <div class="hero__firstPartDesc">
      <div class="text-fix--Desc">
        <h1 class="off-fix">Секція херо</h1>
        <h2 class="hero__title">Заголовок для відео</h2>
      </div>
      <div class="hero__textBlockDesc">
        <h3 class="hero__description">Підзаголовок відео</h3>
        <p class="hero__text">
          Виготовлення таких категорій товарів - дуже кропіткий і відповідальний
          процес. Від результатів цієї роботи залежить те, наскільки комфортно і
          впевнено почуватиметься клієнт протягом усього дня. Багато хто думає,
          що купити якісні речі в Україні можна тільки за високою вартісь.
          Однак, онлайн серві "Kari Shop" представляє широкий асортимент виробів
          відмінної якості зовсім недорого.
        </p>
      </div>
      <div class="button__wrapper">
        <button class="hero__button">Стати партнером</button>
      </div>
    </div>

    <div class="hero__secondPartDesc">
      <img
        class="gif-fix"
        src="https://kari-shop.com/front/img/yaroslav_opt.gif"
        alt="Анімоване зображення"
      />
      <img
        class="hero__gif"
        src="https://kari-shop.com/front/image/wholesale/section-1_img-2.gif"
        alt="Анімоване зображення"
      />
    </div>
    <div class="text-fix">
      <h1 class="off-fix">Секція херо</h1>
      <h2 class="hero__title">Заголовок для відео</h2>
    </div>
    <div class="block-fix">
      <div class="hero__vidio">
        <img
          class="gif-fix"
          src="https://kari-shop.com/front/img/yaroslav_opt.gif"
          alt="Анімоване зображення"
        />
        <img
          class="hero__gif"
          src="https://kari-shop.com/front/image/wholesale/section-1_img-2.gif"
          alt="Анімоване зображення"
        />
      </div>
      <div class="heder__text">
        <h3 class="hero__description">Підзаголовок відео</h3>
        <p class="hero__text">
          Виготовлення таких категорій товарів - дуже кропіткий і відповідальний
          процес. Від результатів цієї роботи залежить те, наскільки комфортно і
          впевнено почуватиметься клієнт протягом усього дня. Багато хто думає,
          що купити якісні речі в Україні можна тільки за високою вартісь.
          Однак, онлайн серві "Kari Shop" представляє широкий асортимент виробів
          відмінної якості зовсім недорого.
        </p>
      </div>

      <div class="button__wrapper">
        <button class="hero__button">Стати партнером</button>
      </div>
    </div>
  </div>
</section>
