<section class="hero">
  <div class="container hero__wrapper">
    <div class="text-fix">
      <h1 class="off-fix">Секція херо</h1>
      <h2 class="hero__title">Заголовок для відео</h2>
    </div>
    <div class="block-fix">
      <div class="hero__vidio"></div>
      <div class="heder__text">
        <h3 class="hero__description">Підзаголовок відео</h3>
        <p class="hero__text">
          Виготовлення таких категорій товарів - дуже кропіткий і відповідальний
          процес. Від результатів цієї роботи залежить те, наскільки комфортно і
          впевнено почуватиметься клієнт протягом усього дня.
        </p>
      </div>
      <!-- <button class="hero__button">Стати партнером</button> -->
      <div class="button__wrapper">
        <button class="hero__button">Стати партнером</button>
      </div>
    </div>
  </div>
</section>
