<div
  class="popup active is-hidden"
  data-modal="modal-wholesale"
  style="display: block"
>
  <div class="dm-table">
    <div class="dm-cell">
      <div class="dm-modal">
        <div class="modal-loader"></div>
        <!-- <a href="#" class="close"> </a> -->
        <a href="#" class="mClose-fix"> </a>
        <div class="overlay"></div>
        <div class="content-about">
          <h3 class="goods-title" id="goods-title">
            Заповніть дані, щоб отримати оптовий прайс та умови
          </h3>
          <form id="wholesaleForm" name="form_modal" method="POST">
            <input
              type="hidden"
              name="_token"
              value="j4362GM8j8NZNuCFrd2gon0cI58LbcwgS1zwinfx"
            />
            <div class="form-group">
              <input
                type="text"
                class="form-control name"
                placeholder="Ім'я"
                name="name"
                required=""
              />
            </div>
            <span class="error show" id="name"
              >Поле Ім'я є обов'язковим для заповнення.</span
            >
            <div class="form-group">
              <input
                type="email"
                class="form-control tel"
                name="email"
                id="pwd"
                placeholder="Пошта для додаткової інформації"
                required=""
              />
            </div>
            <span class="error show" id="email"
              >Поле E-mail адреса є обов'язковим для заповнення.</span
            >
            <div class="form-group">
              <input
                type="tel"
                class="form-control tel"
                name="phone"
                placeholder="Телефон"
                required=""
              />
            </div>
            <span class="error show" id="phone"
              >Поле Телефон є обов'язковим для заповнення.</span
            >
            <input
              type="submit"
              id="sendWholesale"
              value="Отримати"
              class="opt button"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
