<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="goods__galery">
        <div>
          <img
            class="goods__imgSlider goods__imgSlider--m"
            src="../img/testLingeria.jpg"
            alt="жіночі трусики"
          />
          <img
            class="goods__imgSlider"
            src="../img/testLingeria.jpg"
            alt="жіночі трусики"
          />
        </div>
        <div>
          <img
            class="goods__imgSlider goods__imgSlider--m"
            src="../img/testLingeria.jpg"
            alt="жіночі трусики"
          />
          <img
            class="goods__imgSlider"
            src="../img/testLingeria.jpg"
            alt="жіночі трусики"
          />
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="goods__galery">
        <div>
          <img
            class="goods__imgSlider goods__imgSlider--m"
            src="../img/testLingeria2.jpg"
            alt="жіночі трусики"
          />
          <img
            class="goods__imgSlider"
            src="../img/testLingeria2.jpg"
            alt="жіночі трусики"
          />
        </div>
        <div>
          <img
            class="goods__imgSlider goods__imgSlider--m"
            src="../img/testLingeria2.jpg"
            alt="жіночі трусики"
          />
          <img
            class="goods__imgSlider"
            src="../img/testLingeria2.jpg"
            alt="жіночі трусики"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="swiper-button-prev">
    <svg class="arrow-button" width="20" height="10">
      <use href="../img/symbol-defs.svg#icon-arrow_left"></use>
    </svg>
  </div>
  <div class="swiper-button-next">
    <svg class="arrow-button" width="20" height="10">
      <use href="../img/symbol-defs.svg#icon-arrow_right"></use>
    </svg>
  </div>
</div>
