.text-fixsecond {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 30px;
}

.calculator__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #394e64;
  margin: 0;
  display: inline-block;
  position: relative;
}

.calculator__title::before {
  content: '';
  position: absolute;
  top: 15px;
  right: 105%;
  width: 150%;
  height: 5px;
  background: #ff7752;
}
.calculator__text {
  color: #394e64;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  transform: translate(-40px, 0);
}

/* ========= INPUT STYLES ============ */
