.text-fixsecond {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 30px;
  margin-bottom: 10px;
}
.calculator__wrapper {
  padding-bottom: 50px;
}

@media (min-width: 1261px) {
  .calculator__wrapper {
    padding-top: 15px;
    padding-bottom: 85px;
  }
}
@media (min-width: 1920px) {
  .calculator__wrapper {
    padding-left: 170px !important;
    padding-right: 170px !important;
  }
}

.calculator__positionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (min-width: 1261px) {
  .calculator__positionWrapper {
    display: none;
  }
}
.calculator__product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.calculator__product-wrapper--firstFix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.calculator__product-wrapper--secondFix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.calculator__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #394e64;
  margin: 0;
  display: inline-block;
  position: relative;
}
@media (min-width: 1261px) {
  .calculator__title {
    font-size: 45px;
  }
}
.calculator__title::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 105%;
  width: 150%;
  height: 5px;
  background: #ff7752;
}

@media (min-width: 1261px) {
  .calculator__title::before {
    width: 85%;
    top: 20px;
  }
}
.calculator__text {
  color: #394e64;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
  transform: translate(-40px, 0);
}

@media (min-width: 1261px) {
  .calculator__text {
    font-size: 20px;
    margin-right: 36%;
  }
}
.roundSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sliderText__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  background-color: white;
}
.sliderText {
  max-width: 149px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #394e64;
  margin: 0;
  display: inline-block;
  position: relative;
}

@media (min-width: 1261px) {
  .sliderText {
    font-size: 24px;
  }
}
.sliderValue {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #394e64;
  margin: 0;
  display: inline-block;
  position: relative;
}
@media (min-width: 1261px) {
  .sliderValue {
    font-size: 30px;
  }
}
.product__text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #394e64;
  margin: 0;
  display: inline-block;
  position: relative;
}

@media (min-width: 1261px) {
  .product__text {
    font-size: 30px;
    text-align: start;
  }
}
.product__valueFirst {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #394e64;
  margin: 0;
  display: inline-block;
  position: relative;
}
@media (min-width: 1261px) {
  .product__valueFirst {
    font-size: 30px;
  }
}
.product__valueSecond {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #394e64;
  margin: 0;
  display: inline-block;
  position: relative;
}

@media (min-width: 1261px) {
  .product__valueSecond {
    font-size: 30px;
  }
}
.calculator__profit-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 37px;
}
.profit-wrapper__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #394e64;
  margin: 0;
  display: inline-block;
  text-align: center;
}
.profit-wrapper__text--fix {
  color: #ff7752;
}
@media (min-width: 1261px) {
  .profit-wrapper__text {
    width: 300px;
    font-size: 42px;
    text-align: start;
  }
}

/* ========= INPUT STYLES ============ */
/*generated with Input range slider CSS style generator (version 20211225)
https://toughengineer.github.io/demo/slider-styler*/
input[type='range'].styled-slider {
  height: 25px;
  width: 157px;
  -webkit-appearance: none;
}

/*progress support*/
input[type='range'].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 25px + var(--ratio) * (100% - 25px));
}

input[type='range'].styled-slider:focus {
  outline: none;
}

/*webkit*/
input[type='range'].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: #ff7752;
  border: 6px solid #fff;
  box-shadow: 0 0 17px #000000;
  margin-top: calc(max((11px - 1px - 1px) * 0.5, 0px) - max(25px * 0.5, 6px));
}

input[type='range'].styled-slider::-webkit-slider-runnable-track {
  height: 11px;
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #394e64;
  box-shadow: none;
}

input[type='range'].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#ff7752, #ff7752) 0 / var(--sx) 100% no-repeat,
    #394e64;
}

/*mozilla*/
input[type='range'].styled-slider::-moz-range-thumb {
  width: max(calc(25px - 6px - 6px), 0px);
  height: max(calc(25px - 6px - 6px), 0px);
  border-radius: 50px;
  background: #ff7752;
  border: 6px solid #fff;
  box-shadow: 0 0 17px #000000;
}

input[type='range'].styled-slider::-moz-range-track {
  height: max(calc(11px - 1px - 1px), 0px);
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #394e64;
  box-shadow: none;
}

input[type='range'].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#ff7752, #ff7752) 0 / var(--sx) 100% no-repeat,
    #394e64;
}

/*ms*/
input[type='range'].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type='range'].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type='range'].styled-slider::-ms-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: #ff7752;
  border: 6px solid #fff;
  box-shadow: 0 0 17px #000000;
  margin-top: 0;
  box-sizing: border-box;
}

input[type='range'].styled-slider::-ms-track {
  height: 11px;
  border-radius: 0.5em;
  background: #394e64;
  border: 1px solid #b2b2b2;
  box-shadow: none;
  box-sizing: border-box;
}

input[type='range'].styled-slider.slider-progress::-ms-fill-lower {
  height: max(calc(11px - 1px - 1px), 0px);
  border-radius: 0.5em 0 0 0.5em;
  margin: -1px 0 -1px -1px;
  background: #ff7752;
  border: 1px solid #b2b2b2;
  border-right-width: 0;
}
/*============================== DESCTOP  */

.calculator__desktopBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.firstDesk__CalcValues {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 5px;
  margin-bottom: 10px;
}
.positionDesk__fix {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
@media (max-width: 1260px) {
  .positionDesk__fix {
    display: none;
  }
}
