.goodsGalery__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 15;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.goodsGalery__wrapper {
  overflow: scroll;
  min-height: 500px;
  width: 100%;
  padding: 100px 50px 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
.goodsGalary__item {
  min-width: 200px;
  min-height: 300px;
}

.goodsGalery__img {
  width: 100%;
  height: 100%;
}
