/* @media (min-width: 1920px) {
  .goods__container {
    padding-left: 170px !important;
    padding-right: 170px !important;
  }
} */
.goosd__text-fix {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 20px;
}
@media (min-width: 1261px) {
  .goosd__text-fix {
    margin-bottom: 40px;
  }
}
@media (min-width: 1920px) {
  .goosd__text-fix {
    padding-left: 170px !important;
    padding-right: 170px !important;
  }
}
.goods__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #394e64;
  margin: 0;
  display: inline-block;
  position: relative;
}
@media (min-width: 1261px) {
  .goods__title {
    font-size: 45px;
  }
}
.goods__title::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 105%;
  width: 150%;
  height: 5px;
  background: #ff7752;
}
@media (min-width: 1261px) {
  .goods__title::after {
    top: 25px;
    width: 170%;
  }
}
.goods__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1261px) {
  .goods__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.goods__buttons {
  min-height: 255px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-right: 10px; */
}
@media (min-width: 1261px) {
  .goods__buttons {
    min-height: 81px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 42px;
  }
}
.goods__item {
  width: 106px;
  height: 45px;

  border-radius: 14px 0 0 14px;
}

@media (min-width: 1261px) {
  .goods__item {
    height: 82px;
    max-width: 358px;
    width: 100%;
    border-radius: 14px 14px 0 0;
  }
}
.goods__button {
  width: 96px;
  height: 100%;

  color: #394e64;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0;

  background-color: transparent;
  border: 1px solid #394e64;
  border-radius: 14px;

  padding: 0;
}
@media (min-width: 1261px) {
  .goods__button {
    height: 63px;
    max-width: 358px;
    width: 100%;
    font-size: 20px;
  }
}

/* .goods__sliderArea {
  min-width: 190px;
  width: 100%;
  min-height: 255px;
  background-color: #394e64;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.swiper {
  min-width: 190px;
  width: 100%;
  min-height: 255px;
  background-color: #394e64;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (min-width: 1261px) {
  .swiper {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
}

.goods__galery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (min-width: 1261px) {
  .goods__galery {
    display: none;
  }
}
.goods__item-active {
  background-color: #394e64;
}
.goods__button-active {
  border: none;
  color: #fff;
}
.goods__imgSlider {
  width: 80px;
  height: 100px;
}
@media (min-width: 1261px) {
  .goods__imgSlider {
    width: 250px;
    height: 313px;
  }
}
.goods__imgSlider--m {
  margin-bottom: 10px;
}
@media (min-width: 1261px) {
  .goods__imgSlider--m {
    margin-bottom: 0;
  }
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: '' !important;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: '' !important;
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;
}

.arrow__button-prev,
.arrow__button-next {
  fill: #ff7752;
}

@media (min-width: 1261px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 42px !important;
    height: 42px !important;
    border: 3px solid #ff7752 !important;
    border-radius: 10px !important;
  }
}

@media (min-width: 1261px) {
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background: #fff;
    border: none !important;
  }
}

.buttons__fix-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: -10px;
}
@media (min-width: 1261px) {
  .buttons__fix-wrapper {
    bottom: 180px;
    gap: 1100px;
  }
}
/* ======================= DESSKTOP STYLES */
.goods__galery--Desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1260px) {
  .goods__galery--Desktop {
    display: none;
  }
}
