html {
  scroll-behavior: smooth;
}

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1976d2;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 50px 20px;
}

section h2 {
  color: #1976d2;
}

section ul li {
  margin-bottom: 20px;
}

section ul li strong {
  color: #1976d2;
}

footer {
  background-color: #1976d2;
  color: #fff;
  text-align: center;
  padding: 20px;
}
